:root {
    --white-color: #E1E1E1;
    --main-color: #0D0B13;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Rubik", sans-serif;
}

body {
    background-color: var(--main-color);
}