* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #0c0c14;
    margin: 0;
    height: 100vh;
}

h1 {
    width: 100%;
    max-width: 375px;
    text-align: center;
    color: white;
    font-size: 3.5rem;
    margin: 0 auto;
    margin-top: 90px;
}

.text-description {
    width: 100%;
    max-width: 375px;
    padding: 0px 24px 0px 24px;
    color: white;
    text-align: start;
    margin: auto;
    margin-top: 32px;
    font-size: 1.2rem;
}

.content-taskListApp {
    width: 100%;
    height: auto;
    margin: 100px 0 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin-bottom: 64px;
    padding: 12px;
}

.taskForm-input {
    width: 232px;
    height: 42px;
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid white;
    outline: none;
    color: white;
}

.taskForm-button {
    font-size: 1.2rem;
    height: 42px;
    width: 82px;
    margin-left: 8px;
    border-radius: 8px;
    background-color: transparent;
    color: #0c0c14;
    background-color: white;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

li {
    font-size: 1.2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

li p {
    max-width: 290px;
}

li span {
    font-size: 1.2rem;
    margin-left: 64px;
    cursor: pointer;
}

li button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    margin-left: 8px;
    width: 32px;
    height: 32px;
}

.completed {
    text-decoration: line-through;
    color: #aaa;
}

.button-clean {
    cursor: pointer;
    width: 180px;
    height: 46px;
    margin-top: 24px;
    font-size: 1.2rem;
    border-radius: 6px;
    background-color: tomato;
    border: 2px solid tomato;
    color: white;
}

@media (min-width: 768px) {
    .button-clean:hover {
        color: tomato;
        background-color: transparent;
    }
}